<div class="flex flex-col">
    <div class="grid grid-cols-4 m-4">
        <h1 class="col-span-3 text-left">ASSIP Internship</h1>
        <h1 class="text-right text-neutral-500">Summer 2021</h1>
        <p class="col-span-4 text-neutral-300">text goes here</p>
    </div>
    <div class="grid grid-cols-4 m-4">
        <h1 class="col-span-3 text-left">Thomas Jefferson HS for Science and Technology</h1>
        <h1 class="text-right text-neutral-500">2017-2022</h1>
        <p class="col-span-4 text-neutral-300">text goes here</p>
    </div>
    <div class="grid grid-cols-4 m-4">
        <h1 class="col-span-3 text-left">Rocketry Captain</h1>
        <h1 class="text-right text-neutral-500">2020-2022</h1>
        <p class="col-span-4 text-neutral-300">blah blah blah</p>
    </div>
</div>